{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<h1><strong>{{ SITENAME }} |</strong> {{AUTHOR}}</h1>
    <div class="intro">
        <p><strong>Hola, me llamo Santiago</strong>. Si tuviera que definirme
        en una palabra, esa sería <strong>curioso</strong>. La curiosidad me ha
        llevado a través de varias disciplinas y el camino, aunque sinuoso, ha
        sido fructífero y gratificante.</p>

        <p>Actualmente trabajo como <strong>Investigador Predoctoral</strong>
        en el <a target="_blank" href="https://www.iqf.csic.es/es/">Instituto
        de Química Física Blas Cabrera</a> del CSIC en Madrid, España, en el
        marco del programa <strong><a target="_blank"
        href="https://momentum.csic.es/">Momentum</a></strong>.</p>
        
        <p>Anteriormente, <strong>en Argentina</strong>, realicé investigación
        desde 2017 en el Grupo de Materiales Granulares, ubicado en la Facultad
        Regional La Plata de la Universidad Tecnológica Nacional, y desde 2020
        también en el Instituto de Física de Líquidos y Sistemas Biológicos,
        dependiente de CONICET y de la Universidad Nacional de La Plata.</p>

        <p><strong>Ingeniero Mecánico</strong> de formación, el interés por
        modelar sistemas me llevó a usar dinámica de fluidos computacional
        para incursionar en el campo de la energía eólica. Posteriormente,
        el estudio de fluidos confinados me involucró con simulaciones de
        dinámica molecular. El uso de herramientas de informática, transversal
        a esta actividad científica, me resultó lúdico y apasionante. Ahora,
        gracias a <strong>Momentum</strong>, tengo la oportunidad de
        profundizar este camino aprendiendo técnicas de <i>Machine Learning</i>
        e <i>Inteligencia Artificial</i>.</p>

        <p><strong>Mi CV</strong> está disponible <a target="_blank"
        href="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/docs/Mosca_S-CV-es.pdf">aquí</a>.</p>

        <a href="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/img/Mosca_S-cluster.jpeg">
            <img src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/img/Mosca_S-cluster.jpeg"
            alt="large">
        </a>
    </div>
{% endblock %}
